---
import Layout from '../layouts/Layout.astro';
import { authorConfig } from '@src/config';

const { location, email, social } = authorConfig;
const herf = `mailto:${email}`;
---

<Layout title='connect'>
  <section class='text-gray-600 body-font relative'>
    <div class='container px-5 py-24 mx-auto'>
      <div class='flex flex-col text-center w-full mb-12'>
        <h1
          class='sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900'
        >
          联系我们
        </h1>
        <p class='lg:w-2/3 mx-auto leading-relaxed text-base'>
          如果您有任何问题，欢迎通过电子邮件与我们联系。
        </p>
        <ul class='flex gap-4 content-center justify-center lg:w-2/3 mx-auto'>
          {
            social.map((item) => (
              <div>
                <a
                  href={item.href}
                  class='link flex items-center justify-center text-lg gap-2'
                  target='_blank'
                  rel='noreferrer'
                >
                  <div class={item.icon} />
                  {item.name}
                </a>
              </div>
            ))
          }
        </ul>
        <div class='p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center'>
          <a href={herf} class='text-indigo-500'>发送邮件</a>
          <p class='leading-normal my-5'>{location}</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
