---
interface Props {
  title: string;
  body: string;
  href: string;
  data?: {
    date: string;
    tags?: string;
  };
}

const { href, title, body, data } = Astro.props;
---

<div
  class='border border-gray-300 p-6 hover:pl-7 py-2 rounded-lg shadow-lg transition-colors duration-200 hover:bg-blue-100'
>
  <a class='link' href={href}>
    <h3>
      {title}
      <span>&rarr;</span>
    </h3>

    <!-- <p class='text-xs'>{data.date}</p>
    <p>
      {body}
    </p>
    <p class='text-xs'>{data.tags}</p> -->
  </a>
</div>

<!-- <div class="border border-gray-300 p-6 rounded-lg shadow-lg transition-colors duration-200 hover:bg-blue-100"> -->
