---
interface Props {
  title: string;
  body: string;
  href: string;
  data?: {
    date: string;
    tags?: string;
  };
}

const { href, title, body, data } = Astro.props;
---

<div
  class='p-6
  hover:pl-7
  py-2
  border
  border-2
  border-double
  border-gray-200
  hover:border-10
  hover:border-blue-500
  transition-all
  box-border
  duration-200'
>
  <a class='link' href={href}>
    <h3>
      {title}
      <span>&rarr;</span>
    </h3>

    <!-- <p class='text-xs'>{data.date}</p>
    <p>
      {body}
    </p>
    <p class='text-xs'>{data.tags}</p> -->
  </a>
</div>
